<div class="error" *ngIf="error">
    <span>ERROR:</span>
    <pre>{{ error | json }}</pre>
</div>

<div class="chart-container">
    <div class="right-container">
        <mat-form-field>
            <mat-label>Circuitos</mat-label>
            <mat-select [formControl]="circuitos" multiple>
                @for (circuito of circuitosLista; track circuito.id) {
                    <mat-option [value]="circuito">{{circuito.descripcion}}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <button class="ejecutar-boton" mat-raised-button color="primary" (click)="getData()">
            Actualizar
        </button>
    </div>
    <canvas id="MyChart">{{ chart }}</canvas>
</div>