<div class="app-container">

    <div class="input-container">
        <input style="margin-right: 5px" [(ngModel)]="spName" id="store">
        <button (click)="execSp()" class="pure-button">Ejecutar</button>
    </div>


    <table *ngIf="columns && data" class="pure-table table-container">
        <thead>
            <tr>
                <th *ngFor="let c of getColumns()">
                    {{ c }}
                </th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let d of data">
                <th *ngFor="let c of getColumns()">
                    {{ d[c] }}
                </th>
            </tr>
        </tbody>
    </table>

</div>