.app-container {
    margin: 20px;

    .input-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 20px;

        .left-container {
            width: 100%;
        }
        .center-container {
            width: 100%;
            button {
                margin-left: 10px;
            }
        }
        .right-container {
            display: flex;
            justify-content: end;
            width: 100%;
            margin-right: 70px;
        }
    }

    .table-container {
        margin: 0 auto;
        min-width: 70%;
        margin-top: 15px;

        thead tr th {
            text-transform: capitalize;
        }

        tbody tr th {
            text-align: left;
        }
    }
}

table {
    width: 100%;
}

.error {
    span {
        font-weight: bold;
        color: red;
    }
}
